body{
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
  width: 700px;
    margin: 40px auto;
}
div{
  background: white;
  padding: 60px;
  margin: 40px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 4px;
  text-align: center;
}
h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.img-circle{
  border-radius: 50%
}

.btn-blue{
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}